@{
    ViewData["Title"] = "Kontakta oss";
}

<section class="bg-gray-100 ">
    <div class="max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:py-20 lg:px-8">
        <div class="max-w-2xl lg:max-w-4xl mx-auto text-center">
            <h2 class="text-3xl font-extrabold text-gray-900">Kontaktuppgifter</h2>
            <p class="mt-4 text-lg text-gray-500">Tveka inte att höra av dig!</p>
        </div>
        <div class="mt-16 lg:mt-20">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
                <div class="rounded-lg overflow-hidden">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2003.0361122437714!2d11.880579315888432!3d57.93575197972611!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x464bb6c0d22605bb%3A0xe927c69cc4341f3c!2sKrontofta%20128%2C%2044496%20%C3%96dsm%C3%A5l%2C%20Stenungsunds%20kommun!5e0!3m2!1sen!2sus!4v1619524992238!5m2!1sen!2sus"
                            width="100%" height="480" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
                <div>
                    <div class="max-w-full mx-auto rounded-lg overflow-hidden">
                        <div class="px-6 py-4">
                            <h3 class="text-lg font-medium text-gray-900">Vår Adress</h3>
                            <p class="mt-1 text-gray-600">Krontofta 128, 44496 Ödsmål, Stenungsunds kommun</p>
                        </div>
                        <div class="border-t border-gray-200 px-6 py-4">
                            <h3 class="text-lg font-medium text-gray-900">Öppettider</h3>
                            <p class="mt-1 text-gray-600">Måndag - Fredag: 07:00 - 16:00</p>
                            <p class="mt-1 text-gray-600">Lördag: Stängt</p>
                            <p class="mt-1 text-gray-600">Söndag: Stängt</p>
                        </div>
                        <div class="border-t border-gray-200 px-6 py-4">
                            <h3 class="text-lg font-medium text-gray-900">Kontakt</h3>
                            <p class="mt-1 text-gray-600">E-post: info@takson.se</p>
                            <p class="mt-1 text-gray-600">Telefon: 070-372 76 03</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
