@{
    ViewData["Title"] = "Home";
}

<div class="relative flex items-center justify-center overflow-hidden shadow-lg" style="height: 403px; background-image: url('/images/TaksonPlåt.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center;">
    <!-- Overlay (optional gradient to darken the background) -->
    <div class="bg-opacity-40 absolute inset-0 bg-gradient-to-r from-black via-transparent to-black"></div>


    <!-- Transparent Image -->
    <div class="absolute inset-0 flex items-center justify-center drop-shadow-2xl">
    <img src="/images/overlay_white_transparent.png" class="max-h-full max-w-full" alt="Overlay Image" />
    </div>

    <!-- Text on top of everything -->
    <div class="absolute bottom-0 flex w-full flex-col items-center justify-center p-4 text-center text-white drop-shadow-2xl">
        <h1 class="mb-4 text-5xl font-bold">Din kompletta plåtslagare</h1>
      
    </div>


</div>


<!-- Features Section -->
<section class="rounded-b-lg bg-gray-200 py-16 shadow-lg">
    <div class="grid-cols-1 container mx-auto grid gap-8 px-4 md:grid-cols-3">
        <!-- Feature 1 -->
        <div class="text-center">
            <i class="fas fa-solid fa-gavel mb-4 text-6xl text-blue-600"></i>
            <h3 class="mb-2 text-2xl font-semibold">Plåtslageri</h3>
            <p class="text-gray-600"> Takson AB specialiserar sig på plåtslageri med över ett decennium av erfarenhet. Vi utför alla typer av plåtarbeten, inklusive installation av takplåt, reparationer, skorstensbeslag, och taksäkerhetssystem.</p>
        </div>
        <!-- Feature 2 -->
        <div class="text-center">
            <i class="fas fa-solid fa-brush mb-4 text-6xl text-yellow-500"></i>
            <h3 class="mb-2 text-2xl font-semibold">Takmålning</h3>
            <p class="text-gray-600">Ett nymålat tak ger både skydd mot väder och vind och förnyar husets utseende. Vi tar hand om hela processen, från förberedelse och rengöring till målning med väderbeständiga material.</p>
        </div>
        <!-- Feature 3 -->
        <div class="text-center">
            <i class="fas fa-check-circle mb-4 text-6xl text-green-600"></i>
            <h3 class="mb-2 text-2xl font-semibold">Taktvätt</h3>
            <p class="text-gray-600"> Regelbunden taktvätt förhindrar att mossa och alger skadar taket. Våra skonsamma metoder rengör taket effektivt utan att skada materialet, vilket förlänger takets livslängd.</p>
        </div>
       
      
    </div>
</section>



<!-- CTA Section -->
<section class="bg-gray-700 py-16 text-center text-white">
    <h2 class="mb-4 text-4xl font-bold">Kontakta oss för en kostnadsfri offert</h2>
    <p class="mb-6 text-lg">Tillsammans förverkligar vi er idé.</p>
    <a href="/KontaktaOss" class="rounded-lg bg-white px-6 py-3 font-bold text-blue-600 hover:bg-gray-200">
        Klicka här för en kostnadsfri offert
    </a>
</section>
